div(slot="form")
  div.form-group
    label(for="kicker") Kicker
    input(type="text" id="kicker" v-model="kicker").form-control

  div.form-group
    label(for="headline") Headline
    input(type="text" id="headline" v-model="headline").form-control

  div.form-group
    label(for="excerpt") Excerpt
    input(type="text" id="excerpt" v-model="excerpt").form-control

  div(v-if="this.$options.name != 'the-do-brief'").form-group
    label(for="link") Story link
    input(type="text" id="link" v-model="link").form-control

  div.form-group
    label(for="buttonText") Button Text
    input(type="text" id="buttonText" v-model="buttonText").form-control

  div.form-group
    label(for="imageUrl") Image URL 
    input(type="text" id="imageUrl" v-model="imageUrl").form-control

  div.form-group(v-if="hasRules")
    div.checkbox-inline
      label 
        input(type="checkbox" name="rule_below" v-model="ruleBelow").
        | Rule below
      label 
        input(type="checkbox" name="rule_above" v-model="ruleAbove") 
        | Rule above

  include ./../../includes/copy-buttons
