div(slot="form")
  div.form-group
    label(for="headline") Headline
    input(type="text" id="headline" v-model="headline").form-control

  div.form-group
    label(for="subhead") Subhead
    input(type="text" id="subhead" v-model="subhead").form-control

  div.form-group
    label(for="body") Body
    textarea(rows="7" id="body" v-model="body").form-control

  div.form-group
    label(for="link") Callout
    input(type="textarea" id="callout" v-model="callout").form-control

  div.form-group
    label(for="buttonText") Button Text
    input(type="text" id="buttonText" v-model="buttonText").form-control

  div.form-group
    label(for="link") Button Link
    input(type="text" id="link" v-model="link").form-control

  include ./../../includes/copy-buttons

//  div.form-group(v-if="hasRules")
//    div.checkbox-inline
//      label 
//        input(type="checkbox" name="rule_below" v-model="ruleBelow").
//        | Rule below
//      label 
//        input(type="checkbox" name="rule_above" v-model="ruleAbove") 
//        | Rule above

