div(slot="form")
  div.form-group
    label(for="quote") Quote
    input(type="text" v-model="quote").form-control
    p.help-block No quotation marks needed.

  div.form-group
    label(for="quoter") Quoter and context (optional)
    input(type="text" v-model="quoter").form-control
  
  div.form-group
    label(for="link") Link
    input(type="text" v-model="link").form-control

  include ./../../includes/copy-buttons
