div(slot="form")
  div.form-group
    label(for="headline") Headline
    input(type="text" id="headline" v-model="headline").form-control

  div.form-group
    label(for="excerpt") Excerpt
    input(type="text" id="excerpt" v-model="excerpt").form-control

  div.form-group
    label(for="link") Content Link
    input(type="text" id="link" v-model="link").form-control

  div.form-group
    label(for="imageUrl") Image URL
    input(type="text" id="imageUrl" v-model="imageUrl").form-control

  include ./../../includes/rule-above-below-checkboxes
  include ./../../includes/copy-buttons
