table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" slot="render")
  tr
    td(v-bind:class="className" align="center" bgcolor="#ffffff" v-bind:style="paddingStyleRootTd")
      table(border="0" cellpadding="0" cellspacing="0" width="520" class="wrapper")
        tr(v-if="series == 'series-first' || !series")
          td(v-bind:bgcolor="jaoa.categoryColors[category].full")
            // SECTION TITLE
            table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="100%" align="center")
              tr
                td(class="section-title" align="center")
                  table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="480")
                    tr
                      // vertical spacer
                      td(style="padding: 3px 25px 10px 25px; font-size: 0;")
                    tr
                      td(v-bind:style="{ borderTop: '4px solid' + jaoa.categoryColors[category].tint, fontSize: 0 }" width="100%")
                    tr
                      td(class="body-text" style="padding: 5px 0px 6px 0px; font-family: 'Raleway', Helvetica, arial, sans-serif; font-weight: normal; font-size: 20px; line-height: 24px; text-transform: uppercase; color: #ffffff;").
                        {{ category }}
        tr
          td
            table(border="0" cellpadding="0" cellspacing="0" width="100%" align="center" v-bind:style="tableStyle" class="wrapper")
              transition(name="fade")
                tr(v-if="showImageForm")
                  td(class="padding-feature-image" style="padding-top: 20px; padding-bottom: 5px; padding-left: 0; padding-right: 0;" align="center")
                    // content
                    table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="480" align="center")
                      tr
                        td
                          a(v-bind:href="imageUrl" style="text-decoration: none;" target="_blank")
                            img(class="fluid-image" v-bind:src="imageSrc" width="480" height="240" border="0" v-bind:alt="imageAlt" style="display: block; padding: 0; color: #ffffff; font-family: Helvetica, arial, sans-serif; font-size: 16px;")

              tr
                td(v-bind:style="paddingStyleBody" align="center" class="padding-no-bottom")
                  table(border="0" cellpadding="0" cellspacing="0" width="480" align="center" class="wrapper")
                    tr
                      td(style="padding: 0px 0px 20px 0px;"): a(v-bind:href="articleUrl" v-bind:style="{ textDecoration: 'none', fontFamily: \"'Raleway', Helvetica, arial, sans-serif\", fontWeight: 500, fontSize: '22px', lineHeight: '28px', color: jaoa.categoryColors[category].full }" target="_blank" class="body-text") 
                        | {{ title }} &nbsp;
                        span(v-if="video" style="padding: 3px 9px 3px 9px; vertical-align: bottom; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 13px; line-height: 28px; letter-spacing: .5px; background-color: #FDE9E6; color: #f26046;") &nbsp;VIDEO&nbsp;
                        span(v-if="video && free") &nbsp;
                        span(v-if="free" style="padding: 3px 9px 3px 9px; vertical-align: bottom; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 13px; line-height: 28px; letter-spacing: .5px; background-color: #E8F1FA; color: #4e98da;") &nbsp;FREE&nbsp;


                    tr(v-if="authors")
                      td(style="padding: 0px 0px 20px 0px; font-family: 'Roboto', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; text-align: left; line-height: 18px; color: #909090;" class="body-text") {{ authors }}

                    tr(v-if="blurb")
                      td(style="padding: 0px 0px 25px 0px; font-family: 'Roboto', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 16px; text-align: left; line-height: 20px; color: #666666;" class="body-text") {{ blurb }}
           
              tr(v-if="series && series !== 'series-last'")
                td(style="padding: 0px 0px 0px 0px; border-bottom: 1px solid #cccccc; font-size: 0;")
              tr(v-if="series && series !== 'series-last'")
                td(style="padding: 0px 0px 0px 0px; font-size: 0;")
