table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
  tr
    td(align="center" bgcolor="#ffffff" style="padding: 0px 0px 40px 0px;" class="padding")
      table(border="0" cellpadding="0" cellspacing="0" width="520" class="wrapper")
        tr
          td(bgcolor="navy")
            // SECTION TITLE
            table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="100%" align="center")
              tr
                td(class="section-title" align="center")
                  table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="480")
                    tr
                      // vertical spacer
                      td(style="padding: 3px 25px 10px 25px; font-size: 0;")
                    tr
                      td(style="border-top: 4px solid navajowhite; font-size: 0;" width="100%")
                    tr
                      td(class="body-text" style="padding: 5px 0px 6px 0px; font-family: 'Raleway', Helvetica, arial, sans-serif; font-weight: normal; font-size: 20px; line-height: 24px; text-transform: uppercase; color: #ffffff;").
                        {{ category }}
      
        tr
          td
            table(border="0" cellpadding="0" cellspacing="0" width="100%" align="center" style="border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; border-bottom: 1px solid #cccccc;" class="wrapper")
              tr
                td(style="padding: 10px 0px 0px 0px;" align="center" class="padding-no-bottom")
                  table(border="0" cellpadding="0" cellspacing="0" width="480" align="center" class="wrapper")
                    tr
                      td(style="padding: 0px 0px 20px 0px;"): a(v-bind:href="articleUrl" style="text-decoration: none; font-family: 'Raleway', Helvetica, arial, sans-serif; font-weight: 500; font-size: 22px; line-height: 28px; color: #7abfb4;" target="_blank" class="body-text") {{ title }}
                    tr
                      td(style="padding: 0px 0px 20px 0px; font-family: 'Roboto', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; text-align: left; line-height: 18px; color: #909090;" class="body-text") {{ authors }}
                    tr
                      td(style="padding: 0px 0px 25px 0px; font-family: 'Roboto', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 16px; text-align: left; line-height: 20px; color: #666666;" class="body-text") {{ blurb }}
           
