div.form-group.clearfix
  button.btn.btn-default#refresh(v-on:click="reset")
    span.glyphicon.glyphicon-refresh
    | &nbsp;Reset
  div.btn-group.pull-right
    button.btn.btn-primary#copyHtml(v-on:click="copyHtml" v-on:mouseleave="onMouseLeave" aria-label="Copied HTML!")
      span.glyphicon.glyphicon-copy
      | &nbsp;Copy HTML
    button.btn.btn-info#copyTextVersion(v-bind:data-component="currentTemplate" v-on:click="copyTextVersion" v-on:mouseleave="onMouseLeave" aria-label="Copied Text!")
      span.glyphicon.glyphicon-copy
      | &nbsp;Copy text

