div.form-group.clearfix(style="margin-top: 40px;")
  button.btn.btn-default#refresh(v-on:click="reset")
    span.glyphicon.glyphicon-refresh
    | &nbsp;Reset
  div.btn.pull-right
    button.btn.btn-primary#copyHtml(v-on:click="copy" aria-label="Copied HTML!")
      span.glyphicon.glyphicon-copy
      | &nbsp;Copy HTML
