div.form-group(v-if="hasRules")
  div.checkbox-inline
    label
      input(type="checkbox" name="rule_below" v-model="ruleBelow").
      | Rule below
    label
      input(type="checkbox" name="rule_above" v-model="ruleAbove")
      | Rule above
