table(style="border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0" align="center" slot="render")
  tr(v-if="ruleAbove")
    td(align="center")
      table(class="fullwidth" style="border-collapse: collapse; height: 50px;" width="319" cellspacing="0" cellpadding="0" align="center")
        tr
          td(style="border-bottom: 1px solid #efefef;") &#160;
        tr
          td &#160;
  tr
    td(align="center")
      table(class="fullwidth" style="border-collapse: collapse;" width="480" cellspacing="0" cellpadding="0" align="center")
        tr
          td(align="center" width="15")
            img(alt="Spacer" border="0" height="15" src="http://amorassoc.informz.net/AmOrAssoc/data/images/TheDo/spacer.gif")
          td(align="center")
            table(class="fullwidth" style="border-collapse: collapse;" width="400" cellspacing="0" cellpadding="0" align="center")
              tr
                td
                  table(class="fullwidth" style="border-collapse: collapse;" width="134" cellspacing="0" cellpadding="0" align="left")
                    tr
                      td
                        a(v-bind:href="link" target="_blank")
                          img(alt="Img134" border="0" v-bind:src="imageUrl" style="display: block;" width="134")
                    tr
                      td &#160;
                  table(class="fullwidth" style="border-collapse: collapse;" width="246" cellspacing="0" cellpadding="0" align="right")
                    tr
                      td(style="font-family: helvetica; font-size: 12px; color: #ef3f23; padding-bottom: 5px; line-height: 16px; font-weight: 200; text-transform: uppercase; letter-spacing: 1px;") {{ kicker }}
                    tr
                      td(style="font-family: helvetica; font-size: 12pt; color: #2a2a2a; padding-bottom: 5px; font-weight: bold;")
                        a(v-bind:href="link" style="color: #2a2a2a; text-decoration: none; font-family: helvetica; font-size: 18px; line-height: 23px; font-weight: 400;" target="_blank") {{ headline }}
                    tr
                      td(style="font-family: helvetica; font-size: 14px; color: #686d75; padding-bottom: 5px; font-weight: normal; line-height: 20px;") {{ excerpt }}
          td(align="center" width="15")
            img(alt="Spacer" border="0" height="15" src="http://amorassoc.informz.net/AmOrAssoc/data/images/TheDo/spacer.gif")
  
  tr(v-if="ruleBelow")
    td(align="center")
      table(class="fullwidth" style="border-collapse: collapse; height: 50px;" width="319" cellspacing="0" cellpadding="0" align="center")
        tr
          td(style="border-bottom: 1px solid #efefef;") &#160;
        tr
          td &#160;
