table(style="border-collapse: collapse; line-height: 16px;" width="100%" cellspacing="0" cellpadding="0" align="center" slot="render")
  tr
   td(class="centermepadtop10" style="font-family: helvetica; font-size: 19px; color: #667574; font-weight: 200;" align="left")
     | #[span(style="font-weight: 400; color: #ef3f23;") Latest posts] {{ date }}
