table(style="border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0" align="center" slot="render")
  tr(v-if="ruleAbove")
    td(align="center")
      table(class="fullwidth" style="border-collapse: collapse; height: 50px;" width="319" cellspacing="0" cellpadding="0" align="center")
        tr
          td(style="border-bottom: 1px solid #efefef;") &#160;
        tr
          td &#160;
  tr
    td(align="center")
      table(class="fullwidth" style="border-collapse: collapse;" width="320" cellspacing="0" cellpadding="0" align="center")
        tr
          td
            a(v-bind:href="link" target="_blank")
              img(alt="Image" border="0" class="fullwidth" v-bind:src="imageUrl" style="display: block;" width="320")
        tr
          td &#160;
  tr
    td
      table(class="fullwidth" style="border-collapse: collapse;" width="480" cellspacing="0" cellpadding="0" align="center")
        tr
          td(align="center" width="15")
            img(alt="Spacer" border="0" height="15" src="http://amorassoc.informz.net/AmOrAssoc/data/images/TheDo/spacer.gif" style="display: block;" width="15")
          td(align="center")
            table(class="fullwidth" style="border-collapse: collapse;" width="400" cellspacing="0" cellpadding="0" align="center")
              tr
                td(style="font-family: helvetica; font-size: 12px; color: #ef3f23; line-height: 18px; padding-bottom: 10px; font-weight: 200; text-transform: uppercase; letter-spacing: 1px;" align="center") {{ kicker }}
              tr
                td(style="font-family: helvetica; font-size: 14pt; color: #2a2a2a; line-height: 18px; padding-bottom: 10px;" align="center")
                  a(v-bind:href="link" style="color: #2a2a2a; text-decoration: none; font-family: helvetica; font-size: 20px; line-height: 26px; font-weight: normal;" target="_blank") {{ headline }}
              tr
                td(style="font-family: helvetica; font-size: 14px; color: #686d75; line-height: 20px; font-weight: normal;" align="center") {{ excerpt }}
              tr
                td &#160;
          td(align="center" width="15")
            img(alt="Spacer" border="0" height="15" src="http://amorassoc.informz.net/AmOrAssoc/data/images/TheDo/spacer.gif" style="display: block;" width="15")
  tr
    td(align="center")
      table(class="fullwidth" style="border-collapse: collapse;" width="480" cellspacing="0" cellpadding="0" align="center")
        tr
          td(align="center" vertical-align="middle" style="font-size:0px;padding:10px 25px;word-break:break-word;color:#ffffff")
            include ./../../includes/button

  tr(v-if="ruleBelow")
    td(align="center")
      table(class="fullwidth" style="border-collapse: collapse; height: 50px;" width="319" cellspacing="0" cellpadding="0" align="center")
        tr
          td(style="border-bottom: 1px solid #efefef;") &#160;
        tr
          td &#160;
