table(style="border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0" align="center" slot="render")
  tr
    td(align="center")
      table(class="fullwidth" style="border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0" align="center")
        tr
          td &#160;
        tr
          td &#160;
  tr
    td(align="center")
      table(class="fullwidth" style="border-collapse: collapse;" width="480" cellspacing="0" cellpadding="0" align="center")
        tr
          td(align="center" width="15")
            img(alt="Spacer" border="0" height="15" src="http://amorassoc.informz.net/AmOrAssoc/data/images/TheDo/spacer.gif" style="display: block;" width="15")
          td(align="center")
            table(class="fullwidth" style="border-collapse: collapse;" width="400" cellspacing="0" cellpadding="0" align="center")
              tr
                td(style="font-family: helvetica; font-size: 24px; font-weight: 200; color: #ef3f23; padding-bottom: 15px; border-bottom: 1px solid #efefef;" align="left") Quoted
              tr
               td &#160;
          td(align="center" width="15")
            img(alt="Spacer" border="0" height="15" src="http://amorassoc.informz.net/AmOrAssoc/data/images/TheDo/spacer.gif" style="display: block;" width="15")
  tr
    td(align="center")
      table(class="fullwidth" style="border-collapse: collapse;" width="480" cellspacing="0" cellpadding="0" align="center")
        tr
          td(align="center" width="15")
            img(alt="Spacer" border="0" height="15" src="http://amorassoc.informz.net/AmOrAssoc/data/images/TheDo/spacer.gif" style="display: block;" width="15")
          td(align="center")
            table(class="fullwidth" style="border-collapse: collapse;" width="400" cellspacing="0" cellpadding="0" align="center")
              tr
                td(style="font-family: helvetica; font-size: 24px; color: #414042; line-height: 32px; font-weight: 200; padding-bottom: 12px;" align="center")
                  a(v-bind:href="link" style="color: #414042; text-decoration: none; font-family: helvetica; font-size: 24px; line-height: 32px; font-weight: 200;" target="_blank") &#8220; {{ quote }}&#8221;
              tr
                td(style="font-family: helvetica; font-size: 18px; color: #2a2a2a; line-height: 25px; font-weight: 200; margin-top: 12px;" align="right") &#8212; {{ quoter }}
          td(align="center" width="15")
            img(alt="Spacer" border="0" height="15" src="http://amorassoc.informz.net/AmOrAssoc/data/images/TheDo/spacer.gif" style="display: block;" width="15")
