table(style="border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0" align="center" slot="render")
  tr
    td(align="center")
      table(class="fullwidth" style="border-collapse: collapse; height: 50px;" width="319" cellspacing="0" cellpadding="0" align="center")
        tr
          td(style="border-bottom: 1px solid #efefef;") &#160;
        tr
          td &#160;
  tr
    td(align="center")
      table(class="fullwidth" style="border-collapse: collapse;" width="480" cellspacing="0" cellpadding="0" align="center")
        tr
          td(align="center" width="15")
            img(alt="Spacer" border="0" height="15" src="http://amorassoc.informz.net/AmOrAssoc/data/images/TheDo/spacer.gif" style="display: block;" width="15")
          td(align="center")
            table(class="fullwidth" style="border-collapse: collapse;" width="400" cellspacing="0" cellpadding="0" align="center")
              tr
                td(style="font-family: helvetica; color: #ef3f23; font-weight: 200; padding-bottom: 4px; font-size: 24px; line-height: 28px;") {{ sectionTitle }}
              tr
                td &#160;
          td(align="center" width="15")
            img(alt="Spacer" border="0" height="15" src="http://amorassoc.informz.net/AmOrAssoc/data/images/TheDo/spacer.gif" style="display: block;" width="15")
