// BANNER
tr
  td
    table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
      tr
        td(align="center")
          // wrapper table
          table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="600")
            tr
              td
                // content
                table(border="0" cellpadding="0" cellspacing="0" width="100%")
                  tr
                    td
                      img(class="fluid-image" src="http://aoa-mnews.informz.net/aoa-mnews/data/images/cbs/banner-maintain-your-certification-2.png" width="600" height="210" border="0" alt="Maintain Your Certification" style="display: block; padding: 0; color: #466687; font-family: Helvetica, arial, sans-serif; font-size: 22px; line-height: 28px;")

