- var boards = {
-   "aobem": {
-     "name": "American Osteopathic Board of Emergency Medicine",
-     "friendly": "AOBEM",
-     "email": "aobem@osteopathic.org",
-     "phone": "(800) 621-1773, ext. 8293",
-     "address": "142 E. Ontario St., Chicago, IL 60611-2864",
-     "boardUrl": "https://aobem.org/index.shtml",
-     "logoSrc": "http://aoa-mnews.informz.net/aoa-mnews/data/images/cbs/logo-aobem.png",
-     "logoW": 440,
-     "logoH": 59,
-     "manager": "Jennifer Hausman"
-   },
-   "aobim": {
-     "name": "American Osteopathic Board of Internal Medicine",
-     "friendly": "AOBIM",
-     "email": "aobim@osteopathic.org",
-     "phone": "(800) 621-1773, ext. 8274",
-     "address": "142 E. Ontario St., Chicago, IL 60611-2864",
-     "boardUrl": "http://www.aobim.org/",
-     "logoSrc": "http://aoa-mnews.informz.net/aoa-mnews/data/images/cbs/logo-aobim.png",
-     "logoW": 451,
-     "logoH": 59,
-     "manager": "Danny Hart"
-   },
-   "aobfp": {
-     "name": "American Osteopathic Board of Family Physicians",
-     "friendly": "AOBFP",
-     "email": "aobfp@osteopathic.org",
-     "phone": "(847) 640-8477",
-     "address": "330 E. Algonquin Road, Ste. 6, Arlington Heights, IL 60005",
-     "boardUrl": "http://www.aobfp.org/",
-     "logoSrc": "http://aoa-mnews.informz.net/aoa-mnews/data/images/cbs/logo-aobfp.png",
-     "logoW": 446,
-     "logoH": 59,
-     "manager": "Carol Thoma"
-   },
-   "aobs": {
-     "name": "American Osteopathic Board of Surgery",
-     "friendly": "AOBS",
-     "email": "aobs@osteopathic.org",
-     "phone": "(800) 621-1773, ext. 8078",
-     "address": "142 E. Ontario St., Chicago, IL 60611-2864",
-     "boardUrl": "http://www.aobs.org/",
-     "logoSrc": "http://aoa-mnews.informz.net/aoa-mnews/data/images/cbs/logo-aobs.png",
-     "logoW": 385,
-     "logoH": 59,
-     "manager": "Dan Mendelson"
-   },
-   "aocsmec": {
-     "name": "American Osteopathic Conjoint Sports Medicine Examination Committee",
-     "friendly": "AOCSMEC",
-     "email": "sportsmedicine@osteopathic.org",
-     "phone": "(800) 621-1773, ext. 8241",
-     "address": "142 E. Ontario St., Chicago, IL 60611-2864",
-     "boardUrl": "http://www.aoesm.org/",
-     "logoSrc": "http://aoa-mnews.informz.net/aoa-mnews/data/images/cbs/logo-aocsmec.png",
-     "logoW": 584,
-     "logoH": 59,
-     "manager": "Danny Hart"
-   },
-   "aobd": {
-     "name": "American Osteopathic Board of Dermatology",
-     "friendly": "AOBD",
-     "email": "aobd@osteopathic.org",
-     "phone": "(800) 621-1773, ext. 8112",
-     "address": "142 E. Ontario St., Chicago, IL 60611-2864",
-     "boardUrl": "http://aobd.org/",
-     "logoSrc": "http://aoa-mnews.informz.net/aoa-mnews/data/images/cbs/logo-aobd.png",
-     "logoW": 397,
-     "logoH": 59,
-     "manager": "Libby Strong"
-   },
-   "aobnmm": {
-     "name": "American Osteopathic Board of Neuromusculoskeletal Medicine",
-     "friendly": "AOBNMM",
-     "email": "aobnmm@osteopathic.org",
-     "phone": "(800) 621-1773, ext. 8223",
-     "address": "142 E. Ontario St., Chicago, IL 60611-2864",
-     "boardUrl": "http://www.aobnmm.org/",
-     "logoSrc": "http://aoa-mnews.informz.net/aoa-mnews/data/images/cbs/logo-aobnmm.png",
-     "logoW": 457,
-     "logoH": 59,
-     "manager": "Angi Beranek"
-   },
-   "aobpa": {
-     "name": "American Osteopathic Board of Pathology",
-     "friendly": "AOBPA",
-     "email": "aobpa@osteopathic.org",
-     "phone": "(800) 621-1773, ext. 8227",
-     "address": "142 E. Ontario St., Chicago, IL 60611-2864",
-     "boardUrl": "http://www.aobpath.org/",
-     "logoSrc": "http://aoa-mnews.informz.net/aoa-mnews/data/images/cbs/logo-aobpa.png",
-     "logoW": 385,
-     "logoH": 59,
-     "manager": "Mary Cameron"
-   },
-   "aobp": {
-     "name": "American Osteopathic Board of Pediatrics",
-     "friendly": "AOBP",
-     "email": "aobp@osteopathic.org",
-     "phone": "(800) 621-1773, ext. 8267",
-     "address": "142 E. Ontario St., Chicago, IL 60611-2864",
-     "boardUrl": "http://www.aobp.org/",
-     "logoSrc": "http://aoa-mnews.informz.net/aoa-mnews/data/images/cbs/logo-aobp.png",
-     "logoW": 385,
-     "logoH": 59,
-     "manager": "Angi Beranek"
-   },
-   "aobpmr": {
-     "name": "American Osteopathic Board of Physical Medicine and Rehabilitation",
-     "friendly": "AOBPMR",
-     "email": "aobpmr@osteopathic.org",
-     "phone": "(800) 621-1773, ext. 8226",
-     "address": "142 E. Ontario St., Chicago, IL 60611-2864",
-     "boardUrl": "http://www.aobpmr.org/",
-     "logoSrc": "http://aoa-mnews.informz.net/aoa-mnews/data/images/cbs/logo-aobpmr.png",
-     "logoW": 560,
-     "logoH": 59,
-     "manager": "Angi Beranek"
-   },
-   "aobpr": {
-     "name": "American Osteopathic Board of Proctology",
-     "friendly": "AOBPR",
-     "email": "proctology@osteopathic.org",
-     "phone": "(800) 621-1773, ext. 8227",
-     "address": "142 E. Ontario St., Chicago, IL 60611-2864",
-     "boardUrl": "http://www.aobpr.org/",
-     "logoSrc": "http://aoa-mnews.informz.net/aoa-mnews/data/images/cbs/logo-aobpr.png",
-     "logoW": 385,
-     "logoH": 59,
-     "manager": "Dan Mendelson"
-   },
-   "aobr": {
-     "name": "American Osteopathic Board of Radiology",
-     "friendly": "AOBR",
-     "email": "aobr@osteopathic.org",
-     "phone": "(800) 621-1773, ext. 8072",
-     "address": "142 E. Ontario St., Chicago, IL 60611-2864",
-     "boardUrl": "http://www.aobr.org/",
-     "logoSrc": "http://aoa-mnews.informz.net/aoa-mnews/data/images/cbs/logo-aobr.png",
-     "logoW": 385,
-     "logoH": 59,
-     "manager": "Karin Best"
-   },
-   "aobog": {
-     "name": "American Osteopathic Board of Obstetrics and Gynecology",
-     "friendly": "AOBOG",
-     "email": "aobog@osteopathic.org",
-     "phone": "(800) 621-1773, ext. 8271",
-     "address": "142 E. Ontario St., Chicago, IL 60611-2864",
-     "boardUrl": "https://aobog.org",
-     "logoSrc": "http://aoa-mnews.informz.net/aoa-mnews/data/images/cbs/logo-aobog.png",
-     "logoW": 487,
-     "logoH": 59,
-     "manager": "Mary Cameron"
-   },
-   "aobnp": {
-     "name": "American Osteopathic Board of Neurology and Psychiatry",
-     "friendly": "AOBNP",
-     "email": "aobnp@osteopathic.org",
-     "phone": "(312) 202-8148",
-     "address": "142 E. Ontario St., Chicago, IL 60611-2864",
-     "boardUrl": "http://www.aobnp.org",
-     "logoSrc": "http://aoa-mnews.informz.net/aoa-mnews/data/images/cbs/logo-aobnp.png",
-     "logoW": 475,
-     "logoH": 59,
-     "manager": "Vivian Ross"
-   }
- }
