div
  div(class="form-group")
    label(for="category") Category
    select(class="form-control" id="category" v-model="category")
      option(v-for="category in jaoa.categories") {{ category }}

  transition(name="fade")
    div(class="image-group" id="imageGroup" v-if="showImageForm")
      h3 Image
      div.form-group
        label(for="imageSrc") Image URL
        input(type="text" id="imageSrc" class="form-control" v-model="imageSrc" onFocus="this.select();")
        p.help-block Image size: 480px x 240px

      div.form-group
        label(for="imageUrl") Image Link
        input(type="text" id="imageUrl" class="form-control" v-model="imageUrl") 

      div.form-group
        label(for="imageAlt") Alt Text
        input(type="text" id="imageAlt" class="form-control" v-model="imageAlt")

  div(class="form-group")
    label(for="title") Title
    input(type="text" class="form-control" id="title" v-model="title")

  div.form-group
    label(for="authors") Authors
    input(type="text" class="form-control" id="authors" v-model="authors")
  
  div.form-group
    label(for="blurb") Blurb
    input(type="text" class="form-control" id="blurb" v-model="blurb" row="4")
  
  div.form-group
    label(for="url") Article URL
    input(type="text" class="form-control" id="url" v-model="articleUrl")
  
  div.form-group
    label Component Type
    select.form-control#articleType(name="series" v-model="series" @change="seriesChange")
      option(v-for="type in jaoa.articleTypes" v-bind:value="type.value") {{ type.name }}

  div.form-group
    div.checkbox-inline
      <label>
          <input type="checkbox" name="video" v-model="video"> Video
      </label>
      <label>
          <input type="checkbox" name="free" v-model="free"> Free 
      </label>
    button(class="btn btn-default btn-xs pull-right" id="showImageForm" v-on:click="showImageForm = !showImageForm" v-text="showImageForm ? 'Remove image' : 'Add image'")

  include ./../../includes/copy-buttons
