div
  div.form-group
    label(for="imageUrl") Image URL
    input(type="text" id="imageUrl" class="form-control" v-model="imageUrl")
    p.help-block Image size: 600px x 300px
  
  div.form-group
    label(for="alt") Alt Text
    input(type="text" id="alt" class="form-control" v-model="alt")

  include ./../../includes/copy-buttons
