div
  div.form-group
    label(for="teaser") Teaser
    input(type="text" id="teaser" class="form-control" v-model="teaser")
  
  div.form-group
    label(for="blurb") Blurb
    input(type="text" id="blurb" class="form-control" v-model="blurb")

  div.form-group
    label(for="buttonText") Button Text
    input(type="text" id="blurb" class="form-control" v-model="buttonText")

  div.form-group
    label(for="coverImageSrc") Cover Image URL
    input(type="text" id="coverImageSrc" class="form-control" v-model="coverImageSrc")

  div.form-group
    label(for="url") Link
    input(type="text" id="url" class="form-control" v-model="url")
    p.help-block For cover image and button


  div.form

  div.form-group
    label(for="color" style="display: block;") Color
    select.form-control#color(name="color" v-model="color")
      option(v-for="jaoaColor in jaoa.colors" v-bind:value="jaoaColor.toLowerCase()") {{ jaoaColor }}

  include ./../../includes/copy-buttons
