div
  div(class="form-group")
    label(for="board") Board
    select(class="form-control" id="board" v-model="boardFriendly")
      option(v-for="board in sortedBoards") {{ board }}

  transition(name="fade")
    div(class="image-group" id="examGroup" v-if="showExamForm")
      div(v-for="(exam, index) in exams")
        h3 Exam
        div.form-group
          label(for="examDate") Date
          input(type="date" id="examDate" class="form-control" v-model="exam.date" onFocus="this.select();")

        div.form-group
          label(for="examLoc") Location
          input(type="text" id="examLoc" class="form-control" v-model="exam.location") 

        div.form-group
          label(for="examFirstDeadline") First Application Deadline
          input(type="date" id="examFirstDeadline" class="form-control" v-model="exam.firstDeadline")

        div.form-group
          label(for="examFinalDeadline") Final Application Deadline (optional)
          input(type="date" id="examFinalDeadline" class="form-control" v-model="exam.finalDeadline")
        div.form-group
          button(class="btn btn-default pull-right" id="removeExam" v-on:click="removeExam" v-bind:data-exam="index") Remove Exam

        pre
          | {{ $data.exams | json }}

  div.form-group
    button(class="btn btn-default pull-right" id="showExamForm" v-on:click="addExam") Add Exam

  include ./../../includes/copy-buttons
