div
  div(class="form-group")
    label Board
    select(class="form-control" v-model="boardFriendly")
      option(v-for="board in sortedBoards") {{ board }}

  transition(name="fade")
    div(class="image-group" v-if="showExamForm")
      div(v-for="(exam, index) in exams")
        h3 Exam
        div.form-group
          label Date
          input(type="date" class="form-control" v-model="exam.date" onFocus="this.select();")

        div.form-group
          label Location
          input(type="text" class="form-control" v-model="exam.location") 

        div.form-group
          label First Application Deadline
          input(type="date" class="form-control" v-model="exam.firstDeadline")

        div.form-group
          label Final Application Deadline (optional)
          input(type="date" class="form-control" v-model="exam.finalDeadline")

        div.form-group
          label Final Application Deadline (optional)
          input(type="url" class="form-control" v-model="exam.url")

        div.form-group
          button(class="btn btn-default pull-right" id="removeExam" v-on:click="removeExam" v-bind:data-exam="index") Remove Exam

        pre
          | {{ $data.exams | json }}

  div.form-group
    button(class="btn btn-default pull-right" id="showExamForm" v-on:click="addExam") Add Exam

  include ./../../includes/copy-buttons
