/* Inspired by behavior in http://animista.net/ */

.toast {

  & button {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    -webkit-appearance: button;
    text-transform: none;
    font: inherit;
    border: none;

    &:focus {
      outline: none;
    }
  }

}

.toast-container {
  position: fixed;
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
  transition: all .5s ease;

  &.active {
    opacity: .9;
  }

  & > div {
    position: relative;
    width: 400px;
    pointer-events: auto;
    overflow: hidden;
    margin: 0 0 1.25rem;
    padding: 1.25rem;
    border-radius: 4px;
    color: #fff;
    opacity: 1;
  }
}

.toast-top-right {

  top: 1.25rem;
  right: 1.25rem;
}

.toast-success {
  background-color: $color-success;
}

.toast-close-button {
  display: block;
  position: absolute;
  right: 12px;
  top: 10px;
  width: 15px;
  height: 15px;
  background: transparent;
  cursor: pointer;
  text-indent: -9999px;
  color: transparent;
  overflow: hidden;
  -webkit-transition: all .12s ease;
  transition: all .12s ease;

  &:before,
  &:after {
    display: block;
    content: "";
    width: 1px;
    height: 13px;
    left: 7px;
    top: 3px;
    background-color: #fff;
    position: absolute;
    -webkit-transition: all .12s ease;
    transition: all .12s ease; 
  }

  &:before {
    transform: rotate(-45deg);
  }

  &:after {
    transform: rotate(45deg);
  }

  &:hover {
    &:before {
      transform: rotate(-90deg);
    }

    &:after {
      transform: rotate(90deg);
    }
  }
}

.toast-title {
  padding: 0 10px 10px 0;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .06rem;
}

.toast-message {
  font-weight: 300;
  word-wrap: break-word;
  letter-spacing: .06rem;
}
