$brandcolor: #ef3f23;

$body-font: Helvetica, Arial, sans-serif;

/**
 * Tooltipped
 *
 */

$tooltip-text-color: #fff;
$tooltip-background-color: rgba(0,0,0,0.8);
$tooltip-duration: .2s;
$tooltip-delay: 0;
$tooltip-max-width: 300px;

