$brandcolor: #ef3f23;

$color-success: #2dccb8;
$color-primary: #337ab7;
$color-info: #31b0d5;

$body-font: 'Open Sans', Helvetica, Arial, sans-serif;


/**
 * Tooltipped
 *
 */

$tooltip-text-color: #fff;
$tooltip-background-color: rgba(0,0,0,0.8);
$tooltip-duration: .2s;
$tooltip-delay: 0;
$tooltip-max-width: 300px;

